<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Send an email</h1>
    <form action="{% url 'email' %}" method="POST"> {% csrf_token %}
        <table>
            <tr>
                <td>
                    To
                </td>
                <td>
                    <input type="email" name="toemail">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <textarea name="content" cols="30" rows="10"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="send">
                </td>
                <td>
                    <input type="reset" value="Clear">
                </td>
            </tr>
        </table>
    </form>
</body>
</html>